.vector-icon30 {
  position: relative;
  width: 669.5px;
  height: 227px;
  flex-shrink: 0;
}
.tap-to-begin {
  position: relative;
  font-weight: 300;
}
.slide-169-1,
.vector-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.vector-parent {
  gap: 252px;
}
.slide-169-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  padding: 400px 625px 320px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
