.vector-icon8 {
  position: absolute;
  top: 62px;
  left: 790px;
  width: 340px;
  height: 75px;
}
.component-15-child2,
.component-15-child3,
.component-15-child4,
.component-15-child5 {
  position: absolute;
  height: 93.87%;
  width: 18.71%;
  top: 0;
  right: 76.88%;
  bottom: 6.13%;
  left: 4.42%;
  background-color: var(--color-darkseagreen-200);
}
.component-15-child3,
.component-15-child4,
.component-15-child5 {
  right: 4.42%;
  left: 76.88%;
}
.component-15-child4,
.component-15-child5 {
  top: 6.13%;
  right: 0;
  bottom: 0;
  left: 81.29%;
  background-color: var(--color-darkseagreen-100);
}
.component-15-child5 {
  top: 0;
  right: 81.29%;
  bottom: 6.13%;
  left: 0;
}
.component-151 {
  position: absolute;
  top: -81px;
  left: -93px;
  width: 2106px;
  height: 1322px;
}
.there-are-two {
  font-weight: 300;
}
.there-are-two-ways-in-which-yo1 {
  margin-bottom: 0;
}
.there-are-two-ways-in-which-yo {
  margin: 0;
  padding-left: var(--padding-18xl);
}
.blank-line11 {
  margin: 0;
  font-weight: 300;
}
.donating-to-organisations,
.span {
  font-weight: 600;
  font-family: var(--font-open-sans);
}
.span {
  font-weight: 300;
}
.there-are-two-container1 {
  line-break: anywhere;
  width: 100%;
}
.there-are-two-container {
  position: absolute;
  top: 208px;
  left: 478px;
  font-size: inherit;
  text-align: left;
  display: flex;
  align-items: center;
  width: 964px;
}
.slide-169-38-child {
  position: absolute;
  top: 837px;
  left: 839px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 249px;
  height: 66px;
  cursor: pointer;
  z-index: 100;
}
.donate {
  position: absolute;
  top: 832px;
  left: 48%; transform: translateX(-45%);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 207px;
  height: 74px;
  z-index: 50;
}
.slide-169-38-item {
  position: absolute;
  height: 3.01%;
  width: 1.88%;
  top: 79.25%;
  bottom: 18.08%;
  left: 53%;
  border-radius: var(--br-12xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 50;
}
.or {
  font-weight: 600;
}
.or-make-a-container {
  position: absolute;
  top: 942px;
  left: 686px;
  display: flex;
  align-items: center;
  width: 548px;
  height: 40px;
}
.slide-169-38-inner {
  position: absolute;
  top: 923px;
  left: 666px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 587px;
  height: 79px;
  cursor: pointer;
}
.slide-169-38 {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  height: 100%; aspect-ratio: 1920 / 1080;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
