.vector6 {
  position: absolute;
  top: 100px;
  left: 760px;
  width: 400px;
  height: 131px;
}
.component-15-child30,
.component-15-child31,
.component-15-child32,
.component-15-child33 {
  position: absolute;
  height: 93.87%;
  width: 18.71%;
  top: 0;
  right: 76.88%;
  bottom: 6.13%;
  left: 4.42%;
  background-color: var(--color-darkseagreen-200);
}
.component-15-child31,
.component-15-child32,
.component-15-child33 {
  right: 4.42%;
  left: 76.88%;
}
.component-15-child32,
.component-15-child33 {
  top: 6.13%;
  right: 0;
  bottom: 0;
  left: 81.29%;
  background-color: var(--color-darkseagreen-100);
}
.component-15-child33 {
  top: 0;
  right: 81.29%;
  bottom: 6.13%;
  left: 0;
}
.component-158 {
  position: absolute;
  top: -81px;
  left: -93px;
  width: 2106px;
  height: 1322px;
}
.slide-169-10-child,
.slide-169-10-item {
  position: absolute;
  top: 317px;
  left: 556px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 808px;
  height: 20px;
}
.slide-169-10-item {
  top: 320px;
  left: 558px;
  background-color: var(--color-gray);
  width: 402px;
  height: 14px;
}
.download-1-icon6 {
  position: absolute;
  top: 293px;
  left: 958px;
  width: 55px;
  height: 54px;
  object-fit: cover;
}
.consider-your3 {
  font-weight: 300;
}
.washing-machine-usage {
  font-weight: 600;
}
.consider-your-washing-container1 {
  line-break: anywhere;
  width: 100%;
}
.consider-your-washing-container {
  position: absolute;
  top: 411px;
  left: 598px;
  display: flex;
  align-items: center;
  width: 727px;
}
.slide-169-10-child1,
.slide-169-10-inner {
  position: absolute;
  height: 4.03%;
  width: 2.6%;
  top: 88.82%;
  right: 23.52%;
  bottom: 7.15%;
  left: 73.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.slide-169-10-child1 {
  right: 72.94%;
  left: 24.46%;
}
.border-icon54,
.radio-button54 {
  position: absolute;
  top: 6px;
  left: 51px;
  cursor: pointer;
}
.border-icon54 {
  top: 11px;
  left: 12px;
  width: 26px;
  height: 26px;
}
.component-46 {
  align-self: stretch;
  position: relative;
  height: 49px;
  flex-shrink: 0;
  overflow: hidden;
}
.component-2-child4 {
  position: absolute;
  top: 23px;
  left: 24px;
  width: 2px;
  height: 2px;
  opacity: 0.3;
}
.component-56 {
  align-self: stretch;
  position: relative;
  height: 49px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.mcq-panel-en6 {
  position: absolute;
  top: 529px;
  left: 652px;
  width: 671px;
  height: 759px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-7xl);
}
.vector-icon21 {
  position: absolute;
  top: 62px;
  left: 790px;
  width: 340px;
  height: 75px;
}
.slide-169-10 {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  height: 100%; aspect-ratio: 1920 / 1080;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
